@font-face {font-family: 'WorkSans-Medium';
	src: url('/static/fonts/worksans-medium.woff') format('woff'), 
		 url('/static/fonts/worksans-medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {font-family: 'WorkSans-Regular';
	src: url('/static/fonts/worksans-regular.woff') format('woff'), 
		 url('/static/fonts/worksans-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
