{% extends "base.html" %}

{% block page_title %}Contact{% endblock %}

{% block content %}
	<div class="container">
		<div class="o-layout">
			<div class="o-layout__item u-1/1 u-1/2@tablet-small u-3/5@desktop container-40">
				<div class="delta">Contact</div>
				<p>Contact amet tenderloin short loin leberkas ball tip corned beef. Doner short loin biltong short ribs, pancetta picanha andouille shank tail meatloaf sirloin filet mignon. Capicola pork belly beef tenderloin strip steak pork loin frankfurter chuck corned beef. Beef ribs kevin corned beef meatball pig chuck, brisket swine.</p>
				<div class="epsilon">Contact</div>
				<p>Pig corned beef hamburger meatball rump jowl kielbasa.Ribeye venison shankle t-bone capicola shoulder. Pig corned beef hamburger meatball rump jowl kielbasa.Ribeye venison shankle t-bone capicola shoulder. Hamburger kielbasa alcatra shank, ball tip rump capicola shoulder meatball ribeye pork chop flank short loin beef ribs. Landjaeger t-bone sirloin tongue, ball tip chicken kevin chuck.</p>
			</div><!--
			--><div class="o-layout__item u-1/1 u-1/2@tablet-small u-2/5@desktop container-40">
				<div class="delta">Contact</div>
				<p>Contact amet tenderloin short loin leberkas ball tip corned beef. Doner short loin biltong short ribs, pancetta picanha andouille shank tail meatloaf sirloin filet mignon. Capicola pork belly beef tenderloin strip steak pork loin frankfurter chuck corned beef. Beef ribs kevin corned beef meatball pig chuck, brisket swine.</p>

				<p>Pig corned beef hamburger meatball rump jowl kielbasa.Ribeye venison shankle t-bone capicola shoulder. Hamburger kielbasa alcatra shank, ball tip rump capicola shoulder meatball ribeye pork chop flank short loin beef ribs. Landjaeger t-bone sirloin tongue, ball tip chicken kevin chuck.</p>
			</div>
		</div>
	</div>
{% endblock %}