{% extends "base.html" %}

{% block page_title %}Home{% endblock %}

{% block content %}
	<div class="banner">
		<div class="banner__image container-min-50"></div>
		<!-- <style>.banner__image { background-image: url('static/img/bike.jpg') }</style> -->
		<div class="banner__text gamma">
			Inspire, educate, provide advance knowledge<br>and strengthen our global community
		</div>
	</div>
	<div class="container u-p bg--grey">
		<div class="o-layout"><!--
			--><div class="o-layout__item u-1/1 u-2/3@tablet-small"><!--
				--><div class="o-layout__item u-1/1 u-1/2@tablet-small u-mb">
						<div class="delta u-ph u-pt theme-white">We’re fundraising, and need your help.</div>
						<p class="u-m0 u-p theme-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<a href="/" class="block u-p theme-primary align-center">Find out how you can help</a>
					</div><!--
					--><div class="o-layout__item u-1/1 u-1/2@tablet-small u-mb">
						<div class="delta u-ph u-pt theme-white">We’re fundraising, and need your help.</div>
						<p class="u-m0 u-p theme-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<a href="/" class="block u-p theme-primary align-center">Find out how you can help</a>
					</div><!--
					--><div class="o-layout__item u-1/1 u-1/2@tablet-small u-mb">
						<div class="delta u-ph u-pt theme-white">We’re fundraising, and need your help.</div>
						<p class="u-m0 u-p theme-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<a href="/" class="block u-p theme-primary align-center">Find out how you can help</a>
					</div><!--
					--><div class="o-layout__item u-1/1 u-1/2@tablet-small u-mb">
						<div class="delta u-ph u-pt theme-white">We’re fundraising, and need your help.</div>
						<p class="u-m0 u-p theme-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						<a href="/" class="block u-p theme-primary align-center">Find out how you can help</a>
					</div><!--
			--></div><!--
			--><div class="o-layout__item u-1/1 u-1/3@tablet-small  container-60 scroll">
				<div class="u-pl">
					<a class="twitter-timeline" href="https://twitter.com/anni_vaananen" data-tweet-limit="3">Tweets by anni_vaananen</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
		</div>
	</div>
	<div class="parrallax-container">
		<div class="parrallax-inner parrallax--one"></div> 
	</div>
	<div class="container u-mt">
		<div class="o-layout">
			<div class="o-layout__item u-1/1 u-1/2@tablet-small u-3/5@desktop container-min-40">
				<div class="delta">Bacon ipsum dolor</div>
				<p>Bacon ipsum dolor amet tenderloin short loin leberkas ball tip corned beef. Doner short loin biltong short ribs, pancetta picanha andouille shank tail meatloaf sirloin filet mignon. Capicola pork belly beef tenderloin strip steak pork loin frankfurter chuck corned beef. Beef ribs kevin corned beef meatball pig chuck, brisket swine.</p>
				<div class="epsilon">Bacon ipsum dolor</div>
				<p>Pig corned beef hamburger meatball rump jowl kielbasa.Ribeye venison shankle t-bone capicola shoulder. Pig corned beef hamburger meatball rump jowl kielbasa.Ribeye venison shankle t-bone capicola shoulder. Hamburger kielbasa alcatra shank, ball tip rump capicola shoulder meatball ribeye pork chop flank short loin beef ribs. Landjaeger t-bone sirloin tongue, ball tip chicken kevin chuck.</p>
			</div><!--
			--><div class="o-layout__item u-1/1 u-1/2@tablet-small u-2/5@desktop container-min-40 ">
				<div class="delta">Bacon ipsum dolor</div>
				<p>Bacon ipsum dolor amet tenderloin short loin leberkas ball tip corned beef. Doner short loin biltong short ribs, pancetta picanha andouille shank tail meatloaf sirloin filet mignon. Capicola pork belly beef tenderloin strip steak pork loin frankfurter chuck corned beef. Beef ribs kevin corned beef meatball pig chuck, brisket swine.</p>

				<p>Pig corned beef hamburger meatball rump jowl kielbasa.Ribeye venison shankle t-bone capicola shoulder. Hamburger kielbasa alcatra shank, ball tip rump capicola shoulder meatball ribeye pork chop flank short loin beef ribs. Landjaeger t-bone sirloin tongue, ball tip chicken kevin chuck.</p>
			</div>
		</div>
	</div>
{% endblock %}