.container {
	padding: $double-spacing;
}

.container-40 {
	height: 40vmin;
}

	.container-min-40 {
		min-height: 40vmin; 
	}

.container-50 {
	height: 50vmin;
}

	.container-min-50 {
		min-height: 50vmin; 
	}

.container-60 {
	height: 60vmin;
}

	.container-min-60 {
		min-height: 60vmin; 
	}


.image-container {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


.parrallax-container{
	width: 100%;
}
	
    /**
     * 1. TODO: Remove parallax on mobile [1]
     */
	.parrallax-inner{
		height: 50vmin;
		background-attachment: fixed !important; /* [1] */
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 70%;
	}
	.parrallax--one{
		background-image: url(/static/img/bike.jpg);
	}

	.parrallax--two{
		background-image: url(/static/img/bike.jpg);
		background-position: center 30%;
	}
