.header {
	border-bottom: 1px solid $color-primary;
	font-family: $lead-font-family;
	width: 100%;
}

	.header__container {
		@include inuit-clearfix();
		height: 4em;
		position: relative;
	}
		.header-logo {
			display: inline-block;
			height: 100%;
			vertical-align: top;
		}
		
		.header-logo {
			.svg-icon {
				display: block;
			}
		}

		.header__logo-img {
			display: block;
			height: 100%;
		}

		.header__link {
			display: inline-block;
		    padding: 1.5em 1em;
			vertical-align: top;
			line-height: 1;
			position: relative;
		}

		.header__link--button {
			background-color: $color-secondary;
			color: $color-white;
			margin: 0.5em;
			padding: 1em 1.5em;
		}
		
		.header__link:hover:after,
		.header__link:active:after,
		.header__link--active:after {
			border-bottom: 4px solid $color-primary;
			bottom: 0;
			content: '';
			left: 20%;
			position: absolute;
			width: 60%;
		}

		.header__link--button:hover:after,
		.header__link--button:active:after {
			border-bottom: 4px solid $color-white;
			bottom: 0;
			content: '';
			left: 20%;
			position: absolute;
			width: 60%;
		}
