.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.align-center {
	text-align: center;
}

.float-right {
	float: right;
}

.border {
	border: 1px solid;
}

.scroll {
	overflow: scroll;
}


.hide {
	display: none;
}

.block {
	display: block;
}

.divider-top {
	border-top: 5px solid $color-green;
}

.bg--grey {
	background-color: $color-grey;
}