.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.align-right {
	text-align: right;
}

.float-right {
	float: right;
}

.border {
	border: 1px solid;
}

.scroll {
	overflow: scroll;
}

.list-plain {
	list-style: none;
	padding: 0;
}