.theme-primary {
	background-color: $color-primary;
	color: $color-white; 
}

.theme-secondary {
	background-color: $color-secondary;
	color: $color-white; 
}

.theme-teritiary {
	background-color: $color-tertiary;
	color: $color-white; 
}

.theme-white {
	background-color: $color-white;
	color: $color-grey-dark; 
}